<div id="page-heading">
    <h1>Double Ring Loading Animation</h1>
</div>

<div class="center-section" id="double-ring-container">
    <h2>Double ring Clockwise</h2>
    <div id="double-ring">
        <div id="outer">
            <div id="inner"></div>
        </div>
    </div>
</div>

<div class="center-section" id="double-ring-container-inverse">
    <h2>Double ring anti-clockwise</h2>
    <div id="double-ring">
        <div id="outer">
            <div id="inner"></div>
        </div>
    </div>
</div>


<div class="center-section" id="double-ring-container-oc-iac">
    <h2>Double ring outer: clock inner: anti-clock</h2>
    <div id="double-ring">
        <div id="outer">
            <div id="inner"></div>
        </div>
    </div>
</div>