<app-pms-navbar></app-pms-navbar>

<div *ngIf="detail" class="section-box">
    <div class="section-heading">
        <h2>{{ detail.name }}</h2>
    </div>
    <div class="section-form">
        <form id="form">
            <div id="form-date">
                <div id="form-start">
                    <label for="form-start-date">Start</label>
                    <input #start type="date" name="form-start-date" id="form-start-date" value="{{ detail.start }}">
                </div>
                <div id="form-end">
                    <label for="form-end-date">End</label>
                    <input #end type="date" name="form-end-date" id="form-end-date"  value="{{ detail.end }}">
                </div>
            </div>
            <div id="form-note">
                <label for="form-note">Note</label>
                <input type="text" value="{{ detail.note }}">
            </div>    
        </form>
        <div id="date">
            <div id="start">
                <strong>
                    <em>Start:</em>
                </strong>&ThickSpace; <span *ngIf="detail.start">{{ detail.start}}</span>
            </div>
            <div id="end">
                <strong>
                    <em>End:</em>
                </strong>&ThickSpace; <span *ngIf="detail.end">{{ detail.end}}</span>
            </div>
        </div>
        <div id="note">
            <strong>
                <em>Note:</em>
            </strong>&ThickSpace; <span *ngIf="detail.note">{{ detail.note }}</span>
        </div>
        
        <div id="description">
            <!-- <strong>
                <em>Description:</em>
            </strong> -->
            <hr>
            <p *ngIf="detail.description">{{ detail.description }}</p>
        </div>

        <div id="buttons">
            <a routerLink="/pms/{{detail.id}}/update">Update</a>
        </div>
    </div>
    
</div>