$value: 250;
$outer-ring-color: blueviolet;

#row {
    display: flex;
    height: 100%;

    #left {
        width: 20%;
    }

    #right {
        width: 20%;
        flex: 1 1 auto;
    }

    #center {
        width: 60%;
        // background-color: rgb($value, $value, $value);
        background-image: linear-gradient(rgb(255, 248, 255), rgb(244, 244, 255));

        #page-heading {
            text-align: center;
            background-color: $outer-ring-color;
            color: white;

            h1,
            h2,
            h3 {
                margin: 0;
                padding: 18px;
                background-color: inherit;
                color: inherit;
            }
        }

        #site {
            background-color: rgb(107, 32, 107);
            color: white;
            width: 100%;
            text-align: center;

            h1,
            h2,
            h3 {
                margin: 0;
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #row {
        #left {
            display: none;
        }
        #right {
            display: none;
        }
        #center {
            width: 100%;
        }
    }
}

