<div ((mouseleave))="dToggle()" (keydown)="disableDashboardOnEsc($event)" id="dashboard-left">
    <div [@DashboarOpenClose]="dOpen ? 'open' : 'close'"  id="container">
        <!-- <div id="header">
            <h2>
                Dashboard
            </h2>
        </div> -->
        <div id="body">
            <a href="/dashboard" class="link">Home</a>
            <a href="/double-ring" class="link">Double Ring</a>
        </div>
    </div>
    <div id="button">
        <button  
            (click)="dToggle()" 
            type="button"
            class="dashboard-button-active"
            [style.background-color] = 'dOpen ? "rgb(49, 4, 92)" : "blueviolet"'
        >
            <h5>
                Dashboard
            </h5>
        </button>
    </div>
</div>

<!-- <button type="button" (click)="dToggle()">{{dOpen ? 'Close' : 'Open'}}</button> -->